adjustText==0.8
alembic==1.11.1
altgraph==0.17.3
anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==23.1.0
auto-py-to-exe==2.36.0
backcall==0.2.0
basic-logtools==0.2.0
basic-queuetools==0.1.2
bcrypt==4.1.1
beautifulsoup4==4.12.2
bidict==0.22.1
bleach==6.0.0
blinker==1.6.2
boltons==23.0.0
bottle==0.12.25
bottle-websocket==0.2.9
category-encoders==2.6.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
clr-loader==0.2.5
cmaes==0.9.1
colorama==0.4.6
colorlog==6.7.0
colourmap==1.1.14
comm==0.1.3
contourpy==1.0.7
cryptography==41.0.1
cvxpy==1.3.2
cycler==0.11.0
dask==2023.5.1
data-geo==0.1.2
dataclasses-json==0.5.7
datadbs==0.1.8
datazets==0.1.6
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Desktopmagic==14.3.11
dill==0.3.7
distributed==2023.5.1
docker==6.1.3
dominate==2.8.0
ecos==2.0.12
Eel==0.16.0
et-xmlfile==1.1.0
executing==1.2.0
Faker==18.11.2
fastjsonschema==2.17.1
feather-format==0.4.1
featurewiz==0.3.2
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.3
fonttools==4.39.4
fqdn==1.5.1
fsspec==2023.5.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.31
GlobalVars==0.0.5
greenlet==2.0.2
h11==0.14.0
hyperopt==0.2.7
idna==3.4
imbalanced-learn==0.10.1
importlib-metadata==6.6.0
iniconfig==2.0.0
ipykernel==6.23.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
klepto==0.2.4
lightgbm==3.3.5
llvmlite==0.40.1
locket==1.0.0
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
mplcursors==0.5.2
mpmath==1.3.0
msal==1.22.0
msgpack==1.0.5
multiprocess==0.70.15
mypy-extensions==1.0.0
mystic==0.4.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.9.0
nest-asyncio==1.5.6
networktools==1.6.0
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.1
numpy==1.24.3
openpyxl==3.1.2
optuna==3.2.0
osqp==0.6.3
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathos==0.3.1
patsy==0.5.3
pbi-tools==2.3.1
pca==2.0.3
pefile==2023.2.7
pickle-mixin==1.0.2
pickleshare==0.7.5
pika==1.3.2
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
ply==3.11
pox==0.3.3
ppft==1.7.6.7
prometheus-client==0.17.0
prompt-toolkit==3.0.38
proxy-tools==0.1.0
psutil==5.9.5
psycopg2==2.9.9
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==12.0.0
pycparser==2.21
pydantic==1.10.8
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyJWT==2.7.0
Pyomo==6.6.2
pyparsing==3.0.9
pyrsistent==0.19.3
PySimpleGUI==4.60.5
pytest==7.3.1
python-dateutil==2.8.2
python-engineio==4.8.0
python-json-logger==2.0.7
python-socketio==5.10.0
pythonnet==3.0.1
pytz==2023.3
pywebview==4.2.2
# pywin32
# pywin32-ctypes==0.2.2
# pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.1.0
qdldl==0.1.7.post0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
rethinkdb==2.4.9
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scatterd==1.3.5
scikit-learn==1.2.2
scipy==1.10.1
screeninfo==0.8.1
scs==3.2.3
seaborn==0.12.2
Send2Trash==1.8.2
services==0.1.1
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.15
stack-data==0.6.2
statsmodels==0.14.0
sympy==1.12
tasktools==1.2.0
tblib==1.7.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
ujson==5.7.0
uri-template==1.2.0
urllib3==2.0.2
utils==1.0.1
validators==0.20.0
visitor==0.1.3
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.2
Werkzeug==2.3.4
whichcraft==0.6.1
widgetsnbextension==4.0.7
wsproto==1.2.0
xgboost==1.7.5
xlrd==2.0.1
zict==3.0.0
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
