@font-face {
    font-family: 'Carmen Sans Light';
    src: url('carmen-sans-5.woff') format('woff');
    font-weight: 300; /* Font weight of the light version */
    font-style: normal; /* Font style, could be 'italic' for italic fonts */
  }

body {
    margin: 0;
    background-color: #E8E3E2;
    font-family: 'Carmen Sans Light', sans-serif;
    font-weight: 300; 
    font-size: 12pt; 
}

h1 {
    margin: 0;
    font-size: 4em;
    letter-spacing: 1px;
    color: white; 
    font-weight: 200;

.special-letter {
    color: #C58890;
}

}
.logo {
    width: 150px; /* Set the desired width for your logo */
    height: auto;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #656573;
}
.wrapper {
	display: grid;
    
	grid-template-columns: 300px auto;
	grid-template-rows: 100px 1000px auto;
	background-color: #E8E3E2;
	color: #444;
	}
.sidepanel {
  grid-column: 1 ;
  grid-row: 1 / span 2 ;
  position:sticky;
  top: 0;
  height: 100vh;
  background-color:#92A7B9;
  width:300px;
  min-width:100px;
  margin-left:0;
  z-index:2;
  font-size:1.5em;
  line-height:1.5em;
  color:#f1f1f2;
  text-align:center;
  overflow-y: auto;
  display: grid
}
.sidepanel::-webkit-scrollbar {
  width: 0;
}
.sidepanel span {
  position:relative;
  display:block;
  width:calc(100% - 2em);
  min-width:100px;
  padding:1em 1em 0 1em;
  background-color:#92A7B9;
   text-align: left;
}
h6 {
    text-align: left;
    margin: 0 40px 0 20px;
    font-size: 0.5em;
    font-weight: 500;
}
.line {
  height:1px;
  width:calc(100% - 44px);
  background-color:#E9D985;
  margin:0 40px 0 22px;;
}
.filter-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 40px 10px 10px;
    max-width: 300px;
    text-align: left;
}

.filter-title {
    text-align: left;
    margin: 0;
    font-size: 0.5em;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.5em;
}
input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-search {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    color: black;
    font-size: 12px;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}
.nav-container {
    font-weight: 300; 
    font-size: 12pt; 
    position: sticky;
    grid-column: 2 / span 2;
    top: 0;
    left: 20%; /* Adjust based on the width of sidepanel */
    z-index: 1; /* Adjust as needed, lower than the side panel */
    background-color: #92A7B9;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    
    margin-bottom: 20px;
}
.nav-container a {
    display: inline-block;
    color: white;
    padding: 15px 25px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.nav-container a:hover,
.nav-container a:active{
    background-color: #264F73;
}

.nav-container .volval-container {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #656573;
    padding: 5px;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    height: 60%;
    white-space: nowrap;
}

.nav-container .volval-radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.volval-radio-buttons label {
    font-size: 15pt;
    color: white;
}

.chart-container {
    grid-column: 2/ span 2 ;
	grid-row: 2/ span 2 ;
	flex-grow: 1;
    padding:  15px 15px 15px 15px;
    height: 100%;
    justify-content: space-between;
    transition: margin-left 0.3s;
}
.all-charts-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 80vh;
}
section {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
}
.chart-content {
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 450px;
    flex:1;
    border-radius: 10px;
    border: 2px solid #656573;
    margin-bottom: 50px;
    padding-top: 10px;
}

.chart-content canvas {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.multi-select-filter {
    width:90%;
    font-family: 'Carmen Sans Light', sans-serif;
}

.title-container2 {
    background-color: #E8E3E2;
    padding-bottom: 40px;
}

#export-results-icon {
    padding-left: 5px;
}

