<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blueprint Results</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <link rel="stylesheet" href="/static/css/blueprint_results.css">
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <script src="https://kit.fontawesome.com/bcdb575c88.js" crossorigin="anonymous" data-auto-add-css="false"></script>
</head>
<body>
<div class="title-container">
    <h1>blueprint<span class="special-letter">.</span></h1>
</div>
<div class="nav-wrapper">
    <div class="upper-nav">
        <h2>Filters:</h2>
        <div class="upper-nav-rhs">
            <h3>Welcome, {{ user_name }}</h3>
        </div>
    </div>
        
        <div class="nav-container">
            <div class="filter-container">
                <h2 class="filter-title"><img class="filter-icon" src="static/images/Icon Files/Country-Blue.png" alt="brand icon">Country</h2>
                <select id="regionFilter" class="multi-select-filter" >
                    <option>Select Country</option>
                    <!-- Add options as needed -->
                </select>
            </div>
            <div class="filter-container">
                <h2 class="filter-title"><img class="filter-icon" src="static/images/Icon Files/Brand-Blue.png" alt="brand icon">Brand</h2>
                <select id="brandFilter" class="multi-select-filter" >
                    <option>Select Brand</option>
                    <!-- Add options as needed -->
                </select>
            </div>
            <div class="filter-container">
                <h2 class="filter-title"><img class="filter-icon" src="static/images/Icon Files/Optimisation-Blue.png" alt="brand icon">Optimisation</h2>
                <!-- <h6>Filters will only be applied to Response Curves</h6> -->
                <select id="optimisationFilter" class="multi-select-filter" >
                    <option>Select Optimisation Type</option>
                    <!-- Add options as needed -->
                </select>
            </div>
            <div class="apply-filters-cont" style="border: none;">
                <div class="filters-parent" id="applyFilters">
                    <i class="apply-filters-btn fa-solid fa-magnifying-glass"></i>
                </div>
                
            </div>
        </div>
    </div>
    <div class="chart-container">
        <div class="chart-selector">
            <div class="chart-selector-child">
                <div class="chart-selector-child-box">
                    <a href="/blueprint_results#scenario" class="active">Scenario Charts</a>
                    <a href="/blueprint_results#channel">Channel Charts</a>
                    <a href="/blueprint_results#laydown">Laydown Charts</a>
                    <a class="selected" href="/blueprint_results">Curve Charts</a>
                </div>
            </div>
        </div>
    <div class="charts-container">
        <section id="curves">
        
        <h2 id = "dynamic-title" style="margin-top: 0px;margin-bottom: 0px;"> </h2>
        
        <div class="chart-content" id="response_channel_group">
            Response Curve by Channel Group
            <canvas id="response_curve_chart" height="400"></canvas>
        </div>
        <div class="chart-content" id="response_budget">
            Budget Response Curve
            <canvas id="response_budget_chart" height="400"></canvas>
        </div>
        <div class="chart-content" id="budget_curve">
            Budget Curve
            <canvas id="budget_curve_chart" height="400"></canvas>
        </div>
        <div class="chart-content" id="roi_curve">
            ROI Curve
            <canvas id="roi_curve_chart" height="400"></canvas>
        </div>
        <div class="chart-content" id="tv_curve">
            Optimal TV Laydown
            <canvas id="tv_curve_chart" height="400"></canvas>
        </div>
    </section>
     
    </div>

</div>
</body>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
        integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="module" src="../static/js/blueprintCurveCharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
