{% extends 'base.html' %}

{% block content %}

   <title>Blueprint</title>

<link rel="stylesheet" href="/static/css/budget_optimiser.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<div class="all-content">

<div class="main-container" id="main-container">
   <div class="results-div" id="results-div">
      <!-- dynamic adding of show results button goes in this div -->
   </div>
   <button type="button" id="col-btn" class="collapsible active">
      <span id="button-text1">Scenario 1</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <i class="fa-solid fa-pen-to-square fa-lg" onclick="editButton()"></i>
   </button>
   <script>

   function editButton() {
   var setText = document.getElementById("button-text");
   var newText = prompt("Rename Tab:")

   if (newText !== null) {
      setText.textContent = newText;
      tabNames[1] = newText;
   }
   }

   </script>
   <div class="content" id="opt-tab">
      <div class="loading-overlay" id="loading-overlay">
         <div class="searchLoader">
            <svg id="loading-wheel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
               <style>
              .st0{opacity:0.1;} .st1{opacity:0.33;} .st2{opacity:0.66;}
            </style>
            <path d="M30 0c1 0 1.8.8 1.8 1.8v7.8h-3.6V1.8C28.2.8 29 0 30 0zM1.8 28.2h7.8v3.6H1.8C.8 31.8 0 31 0 30s.8-1.8 1.8-1.8zM9.6 47.8l3.4-3.4 1.3-1.3 2.6 2.6-1.3 1.3-3.4 3.4-.9.9c-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.7-.7-.7-1.8 0-2.6l.9-.9z"/>
            <path class="st0" d="M48.7 8.8c.7-.7 1.8-.7 2.6 0 .7.7.7 1.8 0 2.6l-.9.9-3 3-.4.3-1.3 1.3-2.6-2.6 1.7-1.7 3.9-3.8z"/>
            <path d="M31.8 52.2v6.1c0 1-.8 1.8-1.8 1.8s-1.8-.8-1.8-1.8V50.4h3.6v1.8z"/>
            <path class="st1" d="M50.4 28.2h7.8c1 0 1.8.8 1.8 1.8s-.8 1.8-1.8 1.8h-7.8v-3.6z"/>
            <path d="M10.7 13.3l-1.9-1.9c-.7-.7-.7-1.8 0-2.6.7-.7 1.8-.7 2.6 0l4.3 4.3 1.3 1.3-2.6 2.6-3.7-3.7z"/>
            <path class="st2" d="M47 44.4l.4.4 3 3 .9.9c.7.7.7 1.8 0 2.6-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5l-3.8-3.8-1.7-1.7 2.6-2.6 1.2 1.2z"/>
            </svg>
          </div>
      </div>
      <div class="content-sub">
         <div class="div-above-nav-bar" id="buttons-div">

            <div class="nav-model-left" id="nav-bar">
               <div class="show-table">
                  <button class="button-4" role="button" id="show-table-btn">Show/Hide Table</button>
               </div>
               <div class="obj-func">       
                  <div class="dropdown" id="dd-obj">
                     <div class="select">
                        <span>Select KPI</span>
                        <i class="fa fa-chevron-left"></i>
                     </div>
                     <input type="hidden" name="objective" id="obj-input">
                     <ul class="dropdown-menu">
                        <li id="profit">Profit</li>
                        <li id="revenue">Revenue</li>
                        <li id="roi">ROI</li>
                     </ul>
                  </div>
            </div>
            <div class="blend">       
               <div class="dropdown" id="dd-blend">
                  <div class="select">
                     <span>Objective Function</span>
                     <i class="fa fa-chevron-left"></i>
                  </div>
                  <input type="hidden" name="blend" id="blend-input">
                  <ul class="dropdown-menu">
                     <li id="blend">Blended</li>
                     <li id="st">ST</li>
                     <li id="lt">LT</li>
                  </ul>
               </div>
               </div>
               <div class="exh-bud">       
                  <div class="dropdown" id="dd-exh">
                     <div class="select">
                        <span>Budget Exhaustion</span>
                        <i class="fa fa-chevron-left"></i>
                     </div>
                     <input type="hidden" name="exhaust-budget" id="exh-input">
                     <ul class="dropdown-menu">
                        <li id="yes">Exhaust Budget</li>
                        <li id="no">Do Not Exhaust Budget</li>
                     </ul>
                  </div>
               </div>
               <p>Enter Total Budget:</p>
               <input type="number" id="max-input" value="0" step="5000" placeholder="Enter Max Budget">
               <div class="toggle-button-cover">
                  <div class="button-cover">
                     <div class="button r" id="lock-all-button">
                        <input type="checkbox" class="checkbox main" />
                        <div class="knobs"></div>
                        <div class="layer"></div>
                     </div>
                  </div>
               </div>
               <div class="date-cont" id="date-cont">
                  <div class="date-range-label">
                  <label for="end-date">Date Range Filter:</label>
                  <div class="toggle-button-cover">
                     <div class="button-cover">
                        <div class="button d">
                           <input type="checkbox" class="checkbox" id="date-filter-button" />
                           <div class="knobs"></div>
                           <div class="layer"></div>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="date-inputs">
                     <input type="text" name="start-date" id="start-date" placeholder="Start date" />
                     <i class="fa-solid fa-arrow-right" id="date-filter-arrow"></i>
                     <input type="text" name="end-date" id="end-date" placeholder="End date" />
                  </div>
               </div>
               <div class="opt-cont-parent" id="opt-button-cont">
                  <button class="button-4" role="button" id="opt-button">Optimise</button>
               </div>
            </div>
         </div>
         <div class="bo-container" id="channel-container">
         <table id="channel1" class="hover">
            <thead>
               <tr>
               <th>Channel</th>
               <th>Carryover</th>
               <th>Alpha</th>
               <th>Beta</th>
               <th>Current Budget</th>
               <th>Min Spend Cap</th>
               <th>Max Spend Cap</th>
               <th>Budget Lock</th>
               <th>Laydown</th>
               </tr>
            </thead>
         </table>
      </div>
   </div>
   </div>
</div>

<div class="bottom-cont" id="button-cont">
   <i class="fa-solid fa-plus fa-2xl" id="new-tab-button"></i>
   <ol id="optimisation-tabs"></ol>
</div>
</div>
<script>
   tabNames = {}
   function initializeInitialButton() {
     var content = document.getElementById("opt-tab");
     var coll = document.getElementById("show-table-btn");
     var table = document.getElementById("channel-container");
     var buttonsDiv = document.getElementById("buttons-div");
      coll.addEventListener("click", function() {
         this.classList.toggle("active");
         console.log("col-btn"+tabCounter)
         switch(table.style.maxHeight) {
            case "100%":
               table.style.maxHeight = "0%";
               table.style.opacity = 0;
               content.style.maxHeight = buttonsDiv.scrollHeight + "px";
               break
            case "0%":
               table.style.maxHeight = "100%";
               table.style.opacity = 1;
               content.style.maxHeight = "100%";
               break
         }
      });
      table.style.maxHeight = "0%";
      table.style.opacity = 0;
      content.style.maxHeight = buttonsDiv.scrollHeight + "px";
   }

   function initializeCollapsibleButtons(colID) {
     var content = document.getElementById("opt-tab"+colID);
     var coll = document.getElementById("show-table-btn"+colID);
     var table = document.getElementById("channel-container"+colID);
     var buttonsDiv = document.getElementById("buttons-div"+colID);
     console.log("col-btn"+tabCounter)
     var content = document.getElementById("opt-tab"+colID);
     coll.addEventListener("click", function() {
         this.classList.toggle("active");
         console.log("col-btn"+tabCounter)
         switch(table.style.maxHeight) {
            case "100%":
               table.style.maxHeight = "0%";
               table.style.opacity = 0;
               content.style.maxHeight = buttonsDiv.scrollHeight + "px";
               break
            case "0%":
               table.style.maxHeight = "100%";
               table.style.opacity = 1;
               content.style.maxHeight = "100%";
               break
         }
      });
      table.style.maxHeight = "0%";
      table.style.opacity = 0;
      content.style.maxHeight = buttonsDiv.scrollHeight + "px";
     
   }

   function closeButtonTab(tabID) {
      var closeButton = document.getElementById("close-button"+tabID)
      closeButton.addEventListener("click", function() {
         var tab = document.getElementById("new-tab"+tabID);
         $.ajax({
         url: "/channel_delete",
         type: "POST", // You might need to adjust the method based on your backend API
         contentType: "application/json",
         data: JSON.stringify({ "tabID": tabID }),
         success: function (response) {
            console.log("Response from backend:", response);
            // Add any further handling based on the backend response
         },
         error: function (error) {
            console.error("error deleting tab:", error);
         },
         });
         tab.remove();
      });

   }


   function editButtonTabs(tabID) {
   var setText = document.getElementById("button-text"+tabID);
   var newText = prompt("Rename Tab:")

   if (newText !== null) {
         setText.textContent = newText;
         tabNames[tabID] = newText;
         console.log(tabNames);
      }
   }

   initializeInitialButton();


   var tabCounter = 1;
   var initialButtonName = document.getElementById("button-text"+tabCounter);
   tabNames[tabCounter] = initialButtonName.textContent;
   console.log(tabNames);

   document.getElementById("new-tab-button").addEventListener("click", function() {
      tabCounter++;
   
       // Clone the HTML content and append it to the document
       var tabContent = document.createElement("div");
       tabContent.setAttribute("id", 'new-tab'+tabCounter);
       tabContent.innerHTML = `
           <button type="button" id="col-btn${tabCounter}" class="collapsible">
            <span id="button-text${tabCounter}">Scenario ${tabCounter}</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <i class="fa-solid fa-pen-to-square fa-lg" onclick="editButtonTabs(${tabCounter})"></i>
            <i class="fa-solid fa-x fa-xl close-icon" id="close-button${tabCounter}"></i>
         </button>
           <div class="content" id="opt-tab${tabCounter}">
            <div class="loading-overlay" id="loading-overlay${tabCounter}">
               <div class="searchLoader">
                  <svg id="loading-wheel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                  <style>
                  .st0{opacity:0.1;} .st1{opacity:0.33;} .st2{opacity:0.66;}
                  </style>
                  <path d="M30 0c1 0 1.8.8 1.8 1.8v7.8h-3.6V1.8C28.2.8 29 0 30 0zM1.8 28.2h7.8v3.6H1.8C.8 31.8 0 31 0 30s.8-1.8 1.8-1.8zM9.6 47.8l3.4-3.4 1.3-1.3 2.6 2.6-1.3 1.3-3.4 3.4-.9.9c-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5c-.7-.7-.7-1.8 0-2.6l.9-.9z"/>
                  <path class="st0" d="M48.7 8.8c.7-.7 1.8-.7 2.6 0 .7.7.7 1.8 0 2.6l-.9.9-3 3-.4.3-1.3 1.3-2.6-2.6 1.7-1.7 3.9-3.8z"/>
                  <path d="M31.8 52.2v6.1c0 1-.8 1.8-1.8 1.8s-1.8-.8-1.8-1.8V50.4h3.6v1.8z"/>
                  <path class="st1" d="M50.4 28.2h7.8c1 0 1.8.8 1.8 1.8s-.8 1.8-1.8 1.8h-7.8v-3.6z"/>
                  <path d="M10.7 13.3l-1.9-1.9c-.7-.7-.7-1.8 0-2.6.7-.7 1.8-.7 2.6 0l4.3 4.3 1.3 1.3-2.6 2.6-3.7-3.7z"/>
                  <path class="st2" d="M47 44.4l.4.4 3 3 .9.9c.7.7.7 1.8 0 2.6-.4.4-.8.5-1.3.5s-.9-.2-1.3-.5l-3.8-3.8-1.7-1.7 2.6-2.6 1.2 1.2z"/>
                  </svg>
            </div>
         </div>
      <div class="content-sub">
         <div class="div-above-nav-bar" id="buttons-div${tabCounter}">
               <div class="nav-model-left">
                  <div class="show-table">
                     <button class="button-4" role="button" id="show-table-btn${tabCounter}">Show/Hide Table</button>
                  </div>
                  <div class="obj-func">       
                     <div class="dropdown" id="dd-obj${tabCounter}">
                        <div class="select">
                           <span>Select KPI</span>
                           <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="objective" id="obj-input${tabCounter}">
                        <ul class="dropdown-menu">
                           <li id="profit">Profit</li>
                           <li id="revenue">Revenue</li>
                           <li id="roi">ROI</li>
                        </ul>
                     </div>
               </div>
                  <div class="blend">       
                     <div class="dropdown" id="dd-blend${tabCounter}">
                        <div class="select">
                           <span>Objective Function</span>
                           <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="blend" id="blend-input${tabCounter}">
                        <ul class="dropdown-menu">
                           <li id="blend">Blended</li>
                           <li id="st">ST</li>
                           <li id="lt">LT</li>
                        </ul>
                     </div>
               </div>
                  <div class="exh-bud">       
                     <div class="dropdown" id="dd-exh${tabCounter}">
                        <div class="select">
                           <span>Budget Exhaustion</span>
                           <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="exhaust-budget" id="exh-input${tabCounter}">
                        <ul class="dropdown-menu">
                           <li id="yes">Exhaust Budget</li>
                           <li id="no">Do Not Exhaust Budget</li>
                        </ul>
                     </div>
                  </div>  
                     <p>Enter Total Budget:</p>
                     <input type="number" id="max-input${tabCounter}" value="0" step="5000" placeholder="Enter Max Budget">
                     <div class="toggle-button-cover">
                        <div class="button-cover">
                           <div class="button r" id="lock-all-button">
                              <input type="checkbox" class="checkbox main${tabCounter}" />
                              <div class="knobs"></div>
                              <div class="layer"></div>
                           </div>
                        </div>
                     </div>
                     <div class="date-cont" id="date-cont">
                        <label for="end-date">Date Range Filter:</label>
                        <div class="date-inputs">
                           <input type="date" id="start-date">
                           <input type="date" id="end-date">
                        </div>
                  </div>
                     <button class="button-4" role="button" id="opt-button${tabCounter}">Optimise</button>
                     </div>
                  </div>
               </div>
               <div class="bo-container" id="channel-container${tabCounter}">
               <table id="channel${tabCounter}" class="hover">
                  <thead>
                     <tr>
                     <th>Channel</th>
                     <th>Carryover</th>
                     <th>Alpha</th>
                     <th>Beta</th>
                     <th>Current Budget</th>
                     <th>Min Spend Cap</th>
                     <th>Max Spend Cap</th>
                     <th>Budget Lock</th>
                     <th>Laydown</th>
                     </tr>
                  </thead>
               </table>
               
               </div>
               </div>
               </div>
               </div>
       `;
       
       var mainCont = document.getElementById("main-container");
       mainCont.appendChild(tabContent);
       initializeCollapsibleButtons(tabCounter);
       initializeDataTable(tabCounter);
       initializeButtons(tabCounter);
       closeButtonTab(tabCounter);
       dropdownButtons(tabCounter);
       $(".sparkline").each(function () {
         var $sparkline = $(this);
         var sparklineData = $sparkline.text();
         $sparkline.empty().sparkline(sparklineData, {
            type: "line",
            width: "250px",
         });
      });
      redrawAllTables(tabCounter);
      var buttonName = document.getElementById("button-text"+tabCounter);
      tabNames[tabCounter] = buttonName.textContent;
      console.log(tabNames);
   });


   </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.13.6/features/pageResize/dataTables.pageResize.min.js"></script>
<script type="module" src="static/js/budgetOpt.js"></script>
<script src="static/js/budgetOptTabs.js"></script>
<script src="../static/js/dataTables.editor.js"></script>
<script src="../static/js/editor.dataTables.js"></script>
<script src="https://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.js"></script>

{% endblock content %}