{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user %}

<h2>Welcome {{ user_name }}, to blueprint<span class="special-letter">.</span> v1.0</h2>

{% if config.get("ENDPOINT") %}
<li><a href='/blueprint'>Go to Blueprint</a></li>
{% endif %}

{% if config.get("B2C_PROFILE_AUTHORITY") %}
<li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
{% endif %}

<li><a href="/logout">Logout</a></li>

{% else %}
<h2>Welcome to blueprint<span class="special-letter">.</span> v1.0</h2>
<li><a href='{{ auth_url }}'>Sign In</a></li>
{% endif %}

{% endblock %}