{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Blueprint V1.0</h1>

{% if user %}

{% if config.get("ENDPOINT") %}
<li><a href='/blueprint'>Go to Blueprint</a></li>
{% endif %}

{% if config.get("B2C_PROFILE_AUTHORITY") %}
<li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
{% endif %}

<li><a href="/logout">Logout</a></li>

{% else %}
<li><a href='{{ auth_url }}'>Sign In</a></li>
{% endif %}

{% endblock %}