{% extends 'base.html' %}

{% block content %}

<nav>
<div class="nav-left">
    <div class="dropdown">
        <button class="dropbtn">Database</button>
        <div class="dropdown-content">
          <a href="#">Import Data</a>
          <a href="#">Save</a>
          <a href="#">Export Data</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Edit</button>
        <div class="dropdown-content">
          <a href="#">Adstock Ranges</a>
          <a href="#">Additional Variables</a>
          <a href="#">Group Variables</a>
          <a href="#">Optimisation Settings</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">Analysis</button>
        <div class="dropdown-content">
          <a href="#">Charts</a>
          <a href="#">A v F</a>
          <a href="#">Diagnostic Residual Plots</a>
          <a href="#">Correlation Plots</a>
          <a href="#">Autocorrelation Function</a>
          <a href="#">Sand Diagram</a>
          <a href="#">Annual Profile</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="dropbtn">ROI Calculator</button>
      </div>
</div>
<div class="nav-r">
  <label class= "checkboxtext" for="checkbox">Optimise</label>
  <input class="checkbox" type="checkbox" name="optomize"></input>
  
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <p>Value: <span id="demo"></span></p>
  </div>
  
  <input type="image" id="playbtn" class="image" src="../static/images/playpause.png" width="100" height="100" alt="play pause button"></input>
<script>
  
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;

  slider.oninput = function() {
    output.innerHTML = this.value;
  }

</script>

</div>

</nav>

  <div class="dash">
    <div class="varlist-container" id="varlist-container-1">
      <div class="titleContainer">
        <h3>Variable List</h3>
      </div>
        <table id="table1" class="hover">
          <thead>
            <tr>
                <th>Variable</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

  </div>

      <div class = "table-dropzone" id="table2cont">
  
        <table id="table2" class="hover">
          <thead>
            <tr>
                <th>variable</th>
                <th>toggle</th>
                <th>inModel</th>
                <th>coefficient</th>
                <th>stdError</th>
                <th>t_value</th>
                <th>p_value</th>
                <th>95CILow</th>
                <th>95CIHigh</th>
                <th>insig</th>
                <th>adstock</th>
                <th>pctCont</th>
                <th>test</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
      <div id="topHalfDropzone" class="invisible-dropzone top-half">
        <p>[drop base variable here]</p>
      </div>
      <div id="bottomHalfDropzone" class="invisible-dropzone bottom-half">
        <p>[drop intervention variable here]</p>
      </div>

    </div>
  
    <div id="cfmodal2" class="cfmodal">

      <div class="cfmodal-content">
        <!--
        <span id="closeCfModalBtn" class="close">&times;</span>
        <div id="modal-wrapper">
          <div id="selected-var-modal">
            <h2>Selected Variables:</h2>
            <br>
            <ul id="selectedVarList"></ul>
          </div>

        <div class="aggbuttonwrapper">
          <i class="fa-solid fa-check"></i>
          <span id="aggBtn">Aggregate</span>
        </div>

      </div>
    -->

      <div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left: 0px;top: 0px;"></div>
      <script>
      $(function () {
          //Configuration item
          var options = {
              container: 'luckysheet' //luckysheet is the container id
          }
          luckysheet.create(options)
      })
      </script>
    </div>
  </div>
    <div class="dash4">
      <div class="modsum">
        <h3>Model Summary</h3>
        <!--
        <div class="tw-toggle">
          <input type="radio" name="toggle" value="false">
          <label class="toggle toggle-yes"><i class="fa fa-times"></i></label>
          <input checked type="radio" name="toggle" value="-1">
          <label class="toggle toggle-yes"><i class="fa fa-minus"></i></label>
          <input type="radio" name="toggle" value="true">
          <label class="toggle toggle-yes"><i class="fa fa-check"></i></label>
          <span></span>  
        </div>
        -->
          <body>
            {% for table in modsum1 %}
                {{ table|safe }}
            {% endfor %}
        </body>
      </div>
        <div class="chartsel">
          <h3>Chart By Selection</h3>
          
            
          <div class="dropdown">
            <button class="dropbtn">Choose Plot</button>
              <div class="dropdown-content">
                <a onclick="show()"id="btnID1">Scatter Plot</a>
                <a onclick="show()"id="btnID1">Sand Plot</a>
                <a onclick="show()"id="btnID1">Actual vs Fitted</a>
                <a onclick="show()"id="btnID1">ROI Plot</a>
                <a onclick="show()"id="btnID1">uplift Plot</a>
                <a onclick="clearimg()"id="btnID2">clear selection</a>
              </div>
            </div>
          <img id="plotimg" src="../static/images/plot.png" alt="seaborn plot">
            <script>
                function show() {
                
                    document.getElementById('plotimg').style.display = "block";
                }
                
                function clearimg() {
                
                    document.getElementById('plotimg').style.display = "none";
                }
            </script>
        </div>
    </div>
  </div>

<div id="simpleModal" class="gvmodal">
    <form id="checkbox-form" method="POST">

    <div class="gvmodal-content">
        <div class="gvmodal-header">
            <span class="gvcloseBtn">&times;</span>
            <p>Group Variables</p>
        </div>

        <div class="gvmodal-bodyv3">
            <div class="gvleft">
                <p>Groups:</p>
            </div>
            <div class="gvrightContainer">
                <p>Add to: </p>
                <div class="dropDownDiv" id="dropDownDiv">
                    {{dropdown_html|safe}}
                </div>
            </div>
        </div>
        <button type="button" id="my-button" name="action" value="ButtonConfirmAdded" class="gvbuttonv2" style="display:none"></button>
        <input type="hidden" id="selectedItems" name="selectedItems" value="">
        <div class="gvmodal-body" id="ModalBodyForVars">

            <div id="GroupsContainer" class="GroupsContainer">
                {{group_html|safe}}
            </div>

        </div>
        <div class="gvmodal-bodyv2" id="ModalBodyForButtons">
            <div class="bodyv2buttons">
                <button id="button1" class="gvbuttonv2" type="button" value="ButtonConfirmGroup">Group</button>
                <button id="b2" class="gvbuttonv2" type="button" name="action" value="ButtonUngroup">Ungroup</button>
                <button id="b3" class="gvbuttonv2" type="button" disabled name="action" value="ButtonRename">Rename</button>
            </div>
            <div class="input-wrapper">
                <input type="text" id="searchInput" class="filter-input" onkeyup="filterVariables()" placeholder="Search for variable">
                <button type="reset" class="searchClear" onclick="searchClear2()">&times;</button>
            </div>
        </div>

    </div>
    </form>
</div>

<div id="allGroupsModal" class="allGroupsModal">


        <div class="allGroupsModalContent">

                <div class="allGroupsHeader">
                    <span class="allGroupsCloseBtn" id="allGroupsCloseBtn">&times;</span>
                    <p>Sets</p>
                </div>
                <div class="setGroupHeadings">
                    <div class="setGroupHeadingsLeft">
                        <p>Variable List
                    </div>
                    <div class="setGroupHeadingsLeft">
                        <p>Set List
                    </div>
                </div>
                    <div class="allGroupsModalBodyContainer" id="allGroupsModalBodyContainer">
                        <div class="allGroupsModalBody dropzoneV2" id="setVariables" ondragover='event.preventDefault()' ondrop='handleDropV2(event)'>
                            {{variableList_html|safe}}
                        </div>
                        <div class="allGroupsModalBody" id="setGroups">
                            {{setGroups_html|safe}}
                        </div>
                    </div>

                    <div class="lowercontainer" id="lowercontainer">
                        <div class="setGroupHeadingsRight">
                            <div class="setGroupFooterLeft">
                                <input type="text" id="searchInputAG" class="searchInputAG" onkeyup="filterVariablesAG()" placeholder="Search for variable" autocomplete="off">
                                <button type="reset" class="searchClearAG" onclick="searchClear2AG()">&times;</button>
                            </div>
                        </div>
                        <div class="setGroupHeadingsRight">
                            <button id="createSetBtn" class="allGroupsBtnv2" value="createSet">Create Set</button>
                            <button id="deleteSetBtn" class="allGroupsBtnv2" value="deleteSet">Delete Set</button>
                            <button id="renameSetBtn" class="allGroupsBtnv2" value="renameSet" disabled name="action">Rename Set</button>
                        </div>
                    </div>

        </div>


</div>

<div id="customMenu" class="customMenu hidden">
    <ul class="menu">
        <li> <button id="allGroupsBtn" class="allGroupsBtn">Sets</button></li>
        <li> <img src="/static/images/groupingicon.png" class="contextMenuIcons"> <button id="modalBtn" class="gvbutton">Group Variables</button></li>
        <li><button id="splitToIncr" class="splitToIncrBtn">Split to Incremental</button></li>
        <li>
          <i class="fa-solid fa-gear"></i>
          <span id="aggregateButton">Create Aggregation</span>
        </li>
        <li>dfgdfgh</li>
        <li>dgfh</li>
        <li>dfghdfghdfgh</li>

    </ul>
</div>

  <script>var columnsForSplit = {{ columnsForSplit|tojson }}</script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.0/js/dataTables.buttons.min.js"></script>
  <script src ="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
  <script src ="https://cdn.datatables.net/datetime/1.5.0/js/dataTables.dateTime.min.js"></script>
  <script src="../static/js/dataTables.editor.js"></script>
 <script src="../static/js/dataTable.js"></script>
  <script src="static/js/GVScript.js"></script>
  <script src="static/js/AllGroups.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jstat@1.9.2/dist/jstat.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/formulajs/formulajs@2.9.3/dist/formula.min.js"></script>



  <!--
  <script src = "https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/cr-1.6.2/date-1.4.1/fc-4.2.2/fh-3.3.2/kt-2.9.0/r-2.4.1/rg-1.3.1/rr-1.3.3/sc-2.1.1/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.js"></script>
  <script src="../static/js/dataTables.editor.js"></script>
  <script src="../static/js/dataTable.js"></script>
  <script src="../static/js/editor.dataTables.js"></script>
-->
{% endblock content %}